/******************************************************************************/
/*********************************  HEADER   **********************************/
/******************************************************************************/
nav{
    display: flex;
    flex-direction: column;
    background: #FFF;
    height: 18.5vh;
}
.main-header__top {
    grid-area: top;
    position: relative;
    display: block;
    height: 15vh;
}
.main-header__top-social-box {
    position: relative;
    display: block;
    background-color: #ffffff;
    border-bottom: 1px solid #e4e5ea;
    padding: 4.5px 0;
    z-index: 1;
}
.main-header__top-social-box-inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 15vw;
}
.main-header__top-social-text {
    font-family: 'Bunya-Regular_PERSONAL';
    font-size: 1vw;
    font-weight: 400;
    margin: 0.1vw;
}
.main-header__top-social {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 8vw;
    justify-content: space-between;
}
.main-header__top-details {
    position: relative;
    display: block;
    margin: 0.5vw 0;
}
.main-header__top-details-inner {
    display: flex;
    justify-content: space-around;
}
.main-header__top-social a {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
    color: #7b7d83;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.list-unstyled.main-header__top-details-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1vw;
}
.main-header__top-social svg {
    width: 1.5vw;
    height: 1.5vw;
}
.main-header__top-details-list {
    margin: 0;
    padding: 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.header__top-details-list li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.main-header__top-details-list li .icon {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 2vw;
    height: 2vw;
}
.main-header__top-details-list li .icon span {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 30px;
    color: #ffb400;
}
.main-header__top-details-list li .text {
    margin-left: 15px;
}
.main-header__top-details-list li .text h5 a {
    color: #7b7d83;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    text-decoration: none;
        font-family: 'Bunya-Regular_PERSONAL';
    font-size: 1vw;
    font-weight: 400;
}
.main-header__top-details-list li .text h5 {
    font-family: 'Bunya-Regular_PERSONAL';
    font-size: 1vw;
    font-weight: 400;
    font-weight: 500;
    color: #7b7d83;
    margin: 0;
}
.main-header__top-details-list li .text p,
.main-header__top-details-list li .text span{
    font-family: 'Roboto';
    font-size: 1vw;
    font-weight: 400;
    color: #243141;
    font-weight: 700;
    margin: 0;
}
.main-header__top-details-list li:before {
    position: absolute;
    top: 0;
    bottom: 7px;
    left: -30px;
    content: "";
    width: 1px;
    background-color: #e4e5ea;
}
.main-header__logo svg {
    display: block;
    width: 10vw;
    height: 4vw;
}
.text a {
    font-size: 1.1vw;
    color: #243141;
    text-decoration: none;
}
header{
	position: fixed;
	width: 100vw;
	padding: 0;
	z-index: 3;
}
.content-buttons-nav {
	border: solid #67CBE6;
	margin-left: 4%;
}
.content-buttons-nav {
	display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10%;
    background: #FAF3E2;
    height: 8vh !important;
    min-height: 8vh;
    border-radius: 10px;
}
.content-buttons-nav button {
	background: none;
	border: none;
	border-radius: 0;
	cursor: pointer;
	font-family: 'Bunya-Regular_PERSONAL';
	font-size: 1.2vw;
	font-weight: 400;
	margin: 0 2%;
}
.content-buttons-nav button:last-child {
	background: #67CBE6;	
	float: right;
    width: 16%;
	margin: 0;
	font-family: 'Bunya-Bold_PERSONAL';
	height: 100%;
	   border-radius: 0 8px 8px 0;
}
.button_logo{
	background: none;
	border: none;
	cursor: pointer;
	grid-area: bottom-left;
	height: 10vh;
	    display: none;
}
.button_logo svg{
	width: 12vw;
}
.button-logo svg {
    display: block;
    width: 10vw;
    height: 2.5vw;
}
.icon svg {
    width: 1.5vw;
    height: 1.5vw;
}